/* Estilos gerais */
.about-container-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  flex-direction: column;
  padding: 2rem;
}

.about-container-cinza,
.about-container-branco {
  display: flex;
  flex-direction: row;
  background-color: #ebeaea;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  align-items: center;
  border-radius: 20px;
  height: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.about-container-branco {
  background-color: #fff;
}

.about-content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.about-text {
  margin: auto;
  padding: 20px;
  text-align: center;
  /* Alinha o texto centralmente */
}

.about-text h3 {
  font-size: 30px;
  color: #312626;
}

.about-text p {
  font-size: 20px;
  color: #575757;
}

.about-text .span-produtiva {
  font-size: 25px;
  color: #95b128;
}

.about-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.about-titulo {
  margin-top: 100px;
  font-size: 35px;
  padding-bottom: 20px;
}

.about-container-principal span {
  color: #95b128;
}

/* Media query para telas médias */
@media (max-width: 1290px) {

  .about-container-cinza,
  .about-container-branco {
    max-width: 80%;
    /* Ajusta a largura máxima */
    height: auto;
    /* Ajusta a altura */
    flex-direction: column;
    /* Altera para coluna */
    text-align: center;
    padding: 20px;
  }

  .about-content {
    flex-direction: column;
    /* Altera a direção para coluna */
    align-items: center;
  }

  .about-image {
    max-width: 80%;
    /* Ajusta a largura máxima */
    margin-top: 20px;
    /* Espaçamento superior */
  }

  .about-text {
    text-align: center;
    padding: 10px;
  }

  .about-text h3 {
    font-size: 28px;
    /* Ajusta o tamanho do texto */
  }

  .about-text p {
    font-size: 18px;
  }

  .about-titulo {
    margin-top: 80px;
    font-size: 32px;
  }
}

/* Media query para telas pequenas */
@media (max-width: 768px) {

  .about-container-cinza,
  .about-container-branco {
    max-width: 90%;
    /* Reduz a largura máxima */
    height: auto;
    flex-direction: column;
    /* Altera a direção para coluna */
    text-align: center;
  }

  .about-content {
    flex-direction: column;
    /* Altera para coluna */
  }

  .about-text {
    text-align: center;
    padding: 10px;
  }

  .about-text h3 {
    font-size: 25px;
  }

  .about-text p {
    font-size: 18px;
  }

  .about-image {
    width: 100%;
    /* Ajusta a largura */
    height: auto;
    max-height: 250px;
    margin-top: 20px;
  }

  .about-titulo {
    margin-top: 50px;
    font-size: 30px;
  }
}

/* Media query para telas muito pequenas */
@media (max-width: 480px) {

  .about-container-cinza,
  .about-container-branco {
    max-width: 100%;
    /* Reduz a largura máxima */
    padding: 10px;
  }

  .about-text {
    padding: 5px;
    /* Reduz o espaçamento */
  }

  .about-text h3 {
    font-size: 22px;
  }

  .about-text p {
    font-size: 16px;
  }

  .about-image {
    max-width: 100%;
    max-height: 200px;
  }

  .about-titulo {
    margin-top: 30px;
    font-size: 28px;
  }
}