.about-container-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
  padding: 2rem;
}

.about-container-cinza {
  display: flex;
  flex-direction: row;
  background-color: #ebeaea;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  align-items: center;
  border-radius: 20px;
  height: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.about-container-branco {
  display: flex;
    flex-direction: row;
    background-color: #fff;
    max-width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    border-radius: 20px;
    height: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.about-content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.about-text {
  margin: auto;
  padding: 20px;
  text-align: center;
  /* Alinha o texto centralmente */
}

.about-text h3 {
  font-size: 30px;
  color: #312626;
}

.about-text p {
  font-size: 20px;
  color: #575757;
}

.about-text .span-produtiva {
  font-size: 25px;
  color: #95b128;
}

.about-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.about-titulo {
  margin-top: 100px;
  font-size: 35px;
  padding-bottom: 20px;
}

.about-container-principal span {
  color: #95b128;
}

@media (max-width: 768px) {

  .about-container-cinza,
  .about-container-branco {
    max-width: 90%;
    /* Reduz a largura máxima para telas menores */
    height: auto;
    /* Altura automática para acomodar conteúdo */
  }

  .about-container-cinza img,
  .about-container-branco img {
    width: 100%;
    /* Imagens ocupam toda a largura */
    height: auto;
    /* Altura automática para manter proporção */
    max-height: 250px;
    /* Altura máxima das imagens */
    margin-top: 20px;
    /* Espaçamento superior */
  }

  .about-content {
    flex-direction: column;
    /* Altera para coluna em telas menores */
  }

  .about-text {
    text-align: center;
    /* Centraliza texto em telas menores */
    padding: 10px;
    /* Espaçamento interno menor */
  }

  .about-text h3 {
    font-size: 25px;
    /* Reduz o tamanho do título */
  }

  .about-text p {
    font-size: 18px;
    /* Reduz o tamanho do texto */
  }

  .about-titulo {
    margin-top: 50px;
    /* Espaçamento superior menor */
    font-size: 30px;
    /* Reduz o tamanho do título */
  }
}