.conteudo-geral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  background-color: rgb(77, 76, 76);
  color: #d4d4d4;
  padding: 40px;
  gap: 15px;
  width: 100%;
  padding-bottom: 180px;
}

.conteudo-geral .titulo-contato {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: 20rem;
}

.conteudo-geral ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}


.conteudo-geral ul a {
  color: #d4d4d4;
  text-decoration: none;
  display: flex;
  align-items: center;
}


.conteudo-geral ul a h3 {
  color: #d4d4d4;
  font-size: 16px;
  margin: 0;
}

.conteudo-geral ul a:hover {
  text-decoration: underline;
}

.titulo-contato{
  display: flex;
  width: 100%;
  justify-content: center;
  justify-items: center;
  margin: auto;
}

.titulo-contato h2{
  color: #d4d4d4;
}

.conteudo-contato{
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.conteudo-final{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #95b128;
  color: #f8f8f8;
  width: 100%;
}