.conteudo_geral {
  margin-bottom: 4rem;
}

.imagem_pivo {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.frase-logo {
  position: absolute;
  z-index: 10;
  font-size: 50px;
  color: #fff;
}

.conteudo-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
  margin: auto;
  margin-top: 2.5rem;
  gap: 1.5rem;
}

.conteudo-principal h2 {
  font-size: 40px;
}

.conteudo-principal span {
  color: #95b128;
}

.conteudo-principal h3 {
  margin-bottom: 10px;
  font-size: 28px;
  color: rgb(58, 58, 58);
}

.paragrafo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.paragrafo p{
  font-size: 20px;
  color: #575757;
  text-align: center;
}


/* Estilos para telas menores que 768px (tablets) */
@media screen and (max-width: 768px) {
  .conteudo-principal {
    max-width: 70%;
    /* Reduz a largura máxima para telas menores */
  }

  .conteudo-principal h2 {
    font-size: 2.5rem;
    /* Reduz o tamanho da fonte para telas menores */
  }

  .conteudo-principal h3 {
    font-size: 1.5rem;
    /* Reduz o tamanho da fonte para telas menores */
  }

  .paragrafo p {
    font-size: 1.2rem;
    /* Reduz o tamanho da fonte para telas menores */
  }
}

/* Estilos para telas menores que 600px (móveis) */
@media screen and (max-width: 600px) {
  .imagem_pivo {
    height: 20rem;
    /* Reduz a altura da imagem para telas menores */
  }

  .frase-logo {
    font-size: 2rem;
    /* Reduz o tamanho da fonte para telas menores */
  }

  .conteudo-principal {
    max-width: 90%;
    /* Reduz ainda mais a largura máxima para telas menores */
  }

  .conteudo-principal h2 {
    font-size: 2rem;
    /* Ajusta o tamanho da fonte para telas menores */
  }

  .conteudo-principal h3 {
    font-size: 1.2rem;
    /* Ajusta o tamanho da fonte para telas menores */
  }

  .paragrafo p {
    font-size: 1rem;
    /* Ajusta o tamanho da fonte para telas menores */
  }
}