.conteudo_geral {
  margin-bottom: 4rem;
}

.imagem_pivo {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.frase-logo {
  position: absolute;
  z-index: 10;
  font-size: 50px;
  color: #fff;
}

.conteudo-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 35%;
  margin: auto;
  margin-top: 2.5rem;
  gap: 1.5rem;
}

.conteudo-principal h2 {
  font-size: 30px;
}

.conteudo-principal span {
  color: #4CAF50;
}

.conteudo-principal h3 {
  font-size: 20px;
}

.paragrafo {
  margin-top: 20px;
}
